body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/*header*/
.header {
    width: 1440px;
    height: 72px;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
}
.logo .web {
    color: #4D5AE5;
}
.nav-list a {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px
}
.nav-list a:hover,
.nav-list a:focus {
    color: #404BBF;
}
.address li a {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}
.address li a:hover,
.address li a:focus {
    color: #404BBF;
}

/*section 1*/
.OrderServiceButton {
    width: 169;
    height: 56;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.OrderServiceButton:hover,
.OrderServiceButton:focus {
    color: #404BBF;
} 
.section1 {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;  
}
.page-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
}
/*section 2*/
.OurBenefits {
    color: #FFFFFF
}
.OurPortfolioTitle {
    font-size: 36px;
    font-weight: 700;  
}
.title-3 {
    line-height: 24px;
    letter-spacing: 0.4px;
}

.section3 {
    width: 1440px;
    height: 732px;
    background-color: #F4F4FD;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.text {
   font-size: 16px;
   text-align: left; 
   line-height: 24px;
    letter-spacing: 0.32px;
}
